<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="production" packages="">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
    	<!-- Root logger referring to console appender -->
        <Root level="error" additivity="false">
            <AppenderRef ref="stdout" />
        </Root>
    </Loggers>
</Configuration>
